
@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}


<div id="Content">

    @*Su dung bootrap*@
    <div class="row">
        <div class="col-md-2">
            <div class="Logo">
                
                 
            </div>
        </div>

        <div class="col-md-2">
            <div class="Logo">


            </div>
        </div>

        <div class="col-md-2">
            <div class="Logo">


            </div>
        </div>

        <div class="col-md-2">
            <div class="Logo">


            </div>
        </div>

        <div class="col-md-2">
            <div class="Logo">


            </div>
        </div>

        <div class="col-md-2">
            <div class="Logo">


            </div>
        </div>
    </div>

</div>

@*DemoCss*@
<style>
    #Content {
    height:500px;
    }
    .Logo {
    height:100px;
    background-color:green;
    background-image:url("../Content/images/lo.png");
    background-repeat:no-repeat;
    background-position:center right;
    }

</style>