@using WebsiteBanHang.Models;
@model List<ThanhVien>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GroupThanhVien</title>
</head>
<body>
    @foreach (var GroupTV in Model.GroupBy(n => n.LoaiThanhVien))
    {
        <div>@GroupTV.Key.TenLoai </div>
        foreach (var item in GroupTV)
        {
            <p>@item.TaiKhoan</p>
        }
    }
    
</body>
</html>
