
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bulding Bootstrap</title>
   <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>

<body>
    <div class="container">
        
             
    </div>

</body>
</html>
